{{!-- Top scarf ticker: shown site-wide. Always leads with "UP THE TIDE!", then the
latest podcast episode + the auto-updated match line (from the hidden match-ticker page).
The two segments are duplicated for a seamless scroll loop. {{#get}} blocks are siblings, never nested. --}}
<div class="scarf">
    <div class="track">
        <span class="star">&#10022;</span><span class="cry"><b>UP THE TIDE!</b></span>{{#get "posts" filter="tag:podcast" limit="1" as |ep|}}{{#foreach ep}}<span class="t">&#9670;</span><span><b>New Episode &mdash; {{title}}</b></span>{{/foreach}}{{/get}}{{#get "pages" filter="slug:match-ticker" limit="1" as |md|}}{{#foreach md}}<span class="t">&#9670;</span><span><b>{{excerpt}}</b></span>{{/foreach}}{{/get}}
        <span class="star">&#10022;</span><span class="cry"><b>UP THE TIDE!</b></span>{{#get "posts" filter="tag:podcast" limit="1" as |ep|}}{{#foreach ep}}<span class="t">&#9670;</span><span><b>New Episode &mdash; {{title}}</b></span>{{/foreach}}{{/get}}{{#get "pages" filter="slug:match-ticker" limit="1" as |md|}}{{#foreach md}}<span class="t">&#9670;</span><span><b>{{excerpt}}</b></span>{{/foreach}}{{/get}}
    </div>
</div>
